
*.xcuserstate

*.xccheckout

*.xccheckout

*.xccheckout

*.xcuserstate

baseProject.xcworkspace/xcuserdata/suger.xcuserdatad/UserInterfaceState.xcuserstate

baseProject.xcworkspace/xcuserdata/suger.xcuserdatad/UserInterfaceState.xcuserstate

baseProject.xcworkspace/xcuserdata/suger.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcuserstate
